################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/Programowanie_wspolbiezne/.vs/Programowanie_wspolbiezne/v17
/Programowanie_wspolbiezne/Data/bin/Debug/net6.0
/Programowanie_wspolbiezne/Data/obj
/Programowanie_wspolbiezne/DataTest/obj
/Programowanie_wspolbiezne/Logic/obj
/Programowanie_wspolbiezne/LogicTest/bin/Debug
/Programowanie_wspolbiezne/obj
/PW_tests/obj
/Programowanie_wspolbiezne/Presentation/obj/Release/net6.0-windows
/Programowanie_wspolbiezne/LogicTest/obj/Debug
/Programowanie_wspolbiezne/Presentation/bin/Debug/net6.0-windows
/Programowanie_wspolbiezne/Presentation/obj
/Programowanie_wspolbiezne/DataTest/bin/Debug
/Programowanie_wspolbiezne/Logic/bin/Debug/net6.0
/Programowanie_wspolbiezne/packages
/Programowanie_wspolbiezne/LogicTest/obj
/Programowanie_wspolbiezne/View/obj
/Programowanie_wspolbiezne/PresentationMVM/bin/Debug/net6.0
/Programowanie_wspolbiezne/PresentationMVM/obj
/Programowanie_wspolbiezne/PresentationV/bin/Debug/net6.0-windows
/Programowanie_wspolbiezne/PresentationV/obj
/Programowanie_wspolbiezne/.vs/Programowanie_wspolbiezne
/PW_tests/bin/Debug/net6.0/CoverletSourceRootsMapping
/Graph1.dgml
/Programowanie_wspolbiezne/PresentationMVM/bin/Debug
/Programowanie_wspolbiezne/PresentationMVM/obj